<!DOCTYPE html>
<html>
    <head> 
        <title>GO hello</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        {{ $user := . }}
        <h1>User: {{$user}}</h1>
        <p>Age: {{$user}}</p>
    </body>
</html>